body {
  width: 100vw;
  margin: 50px auto 0;
}

h3 {
  margin: 5px 0 8px;
  line-height: 0.5em;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  background-color: rgb(204, 201, 201);
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
}

nav ul li {
  margin: 10px 50px;
}

#notesHeader {
  text-align: center;
  background-color: rgb(223, 223, 223);
  margin: 0 auto;
  width: fit-content;
  padding: 5px 35px;
}

#siteWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7F85A7;
}
.container {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  height: 90vh;
  overflow: auto;
}

#notesSection {
  width: 75%;
  background-color: #7F85A7;
  height: 90vh;
  overflow: auto;
  padding-top: 10px;
  margin: 10px auto;
}

.top-box {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: solid 1px rgba(67, 67, 67, 0.9);
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

#notesFormToggle, .editNoteBtn, .deleteNoteBtn {
  background-color: #595F7F;
  color: #afb8eb;
  margin: 20px 0 0 50px;
}

.hidden {
  display: none;
}

.noNotesMsg {
  text-align: center;
}

.noteCard {
  background-color: #A2AAD4;
  border: solid #414559 1px;
  border-radius: 1px;
  width: 98%;
  margin: 2px auto;
  padding: 2px;
}

.noteTitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.webLinkButton {
  color: #414559;
  font-size: small;
  float: left;
  text-align: center;
  line-height: normal;
  padding: 3px;
}

#webDesign,
#linux,
#python,
#raspberryPi,
#computers{
  color: #414559;
  font-size: medium;
  float: left;
  text-align: center;
  line-height: normal;
}




#notesFormToggle:hover,
.deleteNoteBtn:hover,
.editNoteBtn:hover {
    background-color: #AFB8EB;
    cursor: pointer;
    color: #414559;
}

#webDesign:hover,
#linux:hover,
#python:hover,
#raspberryPi:hover,
#computers:hover {
    background-color: #AFB8EB;
    cursor: pointer;
    color: #414559;
}

.webLinkButton:hover {
    background-color: #595F7F;
    cursor: pointer;
    color: #afb8eb;
}